/* pages/blind-box/confirm-pay/index.wxss */
@import '../../../variables.scss';

.confirm-pay {
  @include flexColumn;
  width: 100%;
  height: 100%;
  background: #34404A;
  border-radius: 20rpx 20rpx 0 0;

  .title-wrap {
    @include flexRowCenter;
    width: 100%;
    height: 104rpx;
    font-size: 34rpx;
    line-height: 48rpx;
    color: #FFFFFF;
    flex: 0 0 auto;
    position: relative;

    .close-btn {
      width: 50rpx;
      height: 50rpx;
      background: url('https://img.war6sky.com/2024/08/1b4dd2d7d4584f9b823eee9ac6828bca.png') no-repeat center center;
      background-size: 25rpx 24rpx;
      position: absolute;
      right: 28rpx;
      top: 28rpx;
    }
  }

  .pay-type-list {
    flex: 1;
    box-sizing: border-box;
    width: 100%;
    padding: 30rpx 60rpx 0;
    @include flexColumn;
  }

  .pay-type-item {
    width: 100%;
    @include flexRowBetween;

    .type-info {
      @include flexRow;
      font-size: 32rpx;
      color: #FFFFFF;
      line-height: 44rpx;

      image {
        width: 60rpx;
        height: 60rpx;
        border-radius: 8rpx;
        margin-right: 12rpx;
      }
    }
  }

  .btn-wrap {
    margin-top: 10rpx;
    width: calc(100% - 70rpx);
    height: 238rpx;
    border-top: 2rpx solid #545454;
    flex: 0 0 auto;

    .placeholder {
      width: 100%;
      height: 82rpx;
      color: #FFFFFF;
    }

    .action-btn {
      width: 680rpx;
      height: 90rpx;
      border-radius: 45px;
      font-size: 34rpx;
      line-height: 36rpx;
      color: #FFFFFF;
      background-image: linear-gradient(-74deg, #0974ED 0%, #0AB2FF 100%);

      @include flexRowCenter;

      &.active {
        opacity: 0.8;
      }
    }
  }
}