@import '../../variables.scss';
.goods {
  background-color: #FFF;
  border-radius: 12rpx;
  overflow: hidden;
  @include flexColumnStart;
}
:host {
  display: block;
}
.goods-icon {
  width: 100%;
}

.goods-title {
  margin: 16rpx 0 6rpx;
  width: 90%;
  font-size: 28rpx;
  &-tag {
    display: inline-block;
    margin-right: 4rpx;
    position: relative;
    bottom: 6rpx;
    padding: 0 4rpx;
    height: 24rpx;
    line-height: 24rpx;
    text-align: center;
    font-size: 18rpx;
    color: #0399FF;
    border-radius: 6rpx;
    border: 1rpx solid #0399FF;
  }
}

.goods-info {
  width: 90%;
  padding-bottom: 20rpx;
  .goods-info-price {
    font-size: 40rpx;
    font-weight: bold;
    color: #000000;
    @include flexRowStart;
    &::before {
      position: relative;
      top: 2rpx;
      margin-right: 4rpx;
      content: '¥';
      font-size: 24rpx;
      font-weight: 600;
      color: #000000;
    }
  }
  .goods-info-shop {
    font-size: 24rpx;
    font-weight: 600;
    color: #A2A2A2;
    @include flexRowStart;
    .shop-icon {
      margin-right: 6rpx;
      width: 30rpx;
      height: 30rpx;
      border-radius: 30rpx;
      box-sizing: border-box;
      border: 2rpx solid #E2E2E2;
    }
  }
}
.goods-group {
  margin-top: 38rpx;
  font-size: 18rpx;
  color: #828282;
  @include flexRowStart;
  &-left {
    margin-right: 24rpx;
  }
  &-right {

  }
}
.empty {
  margin: 20rpx 99rpx 0;
  @include bgImg(552, 257, 'empty.png');
}