@import '../../variables.scss';

page {
  @include flexColumn;
  width: 100vw;
  height: 100vh;
  color: #333333;
  // background: #222427;
  position: relative;

  // &::before {
  //   content: '';
  //   width: 750rpx;
  //   height: 408rpx;
  //   position: absolute;
  //   left: 0;
  //   top: 0;
  //   background-image: linear-gradient(-11deg, #222427 59%, #37ACFF 100%);
  // }
}

.sort-wrap {
  @include flexRow;
  width: 100%;
  padding-left: 34rpx;
  height: 94rpx;

  .sort-item {
    font-size: 26rpx;
    line-height: 36rpx;
    color: #333333;
    margin-right: 60rpx;
  
    &.active {
      color: #289AFF;
      position: relative;
  
      &::after {
        content: '';
        position: absolute;
        left: 10rpx;
        right: 10rpx;
        top: 40rpx;
        height: 4rpx;
        background-image: linear-gradient(-77deg, #0974ED 0%, #0AB2FF 100%);
        border-radius: 2px;
      }
    }
  }
}

.blind-box-feeds {
  flex: 1;
  width: 750rpx;
  box-sizing: border-box;

  .blind-box-list {
    padding-bottom: 50rpx;
  }

  .blind-box-item {
    @include flexColumn;
    width: 100%;
    position: relative;
    padding: 22rpx 0 28rpx;
  }

  .item-content {
    width: 690rpx;
    height: 526rpx;
    border-radius: 44rpx;
    overflow: hidden;
    position: relative;
    // background: #34404A;
    // box-shadow: 0 2px 18px -10px rgba(44, 27, 27, 0.5);
    background: #FFFFFF;
    box-shadow: 0 2px 18px -10px rgba(138,138,138,0.50);
  }

  .item-tag {
    position: absolute;
    left: 0;
    top: 0;
    height: 54rpx;
    padding: 0 24rpx 0 30rpx;
    // background: rgba(59,50,255,0.80);
    background: rgba(49,48,56,0.80);
    border-radius: 0 27rpx 27rpx 0;
    font-size: 26rpx;
    line-height: 54rpx;
    color: #FFFFFF;
  }

  .item-bg-img {
    width: 690rpx;
    height: 378rpx;
  }

  .img-shadow {
    position: absolute;
    left: 0;
    right: 0;
    top: 118rpx;
    bottom: 196rpx;
    background-image: linear-gradient(0deg, #272727 0%, rgba(22,22,22,0.00) 100%);
  }

  .item-info-wrap {
    position: absolute;
    left: 0;
    right: 0;
    top: 272rpx;
    bottom: 0;
    padding-top: 82rpx;
    border-radius: 44rpx;
    // background: #34404A url('https://img.war6sky.com/2024/08/a4fb0d522d104c07a61967ca6b2a78c1.png') no-repeat center 225rpx;
    background: #FFFFFF url('https://img.war6sky.com/2024/08/a4fb0d522d104c07a61967ca6b2a78c1.png') no-repeat center 225rpx;
    background-size: 582rpx 10rpx;
    @include flexColumn;
  }

  .item-title {
    // color: #F9F9F9;
    color: #333333;
    font-size: 40rpx;
    font-weight: bold;
    width: 100%;
    padding: 0 48rpx;
    box-sizing: border-box;
    @include ellipsis;
  }
  
  .item-extra-wrap {
    @include flexRowBetween;
    width: 100%;
    margin-top: 4rpx;
    padding: 0 30rpx 0 48rpx;
  }

  .progress-wrap {
    @include flexRow;
  }

  .progress-line {
    width: 100rpx;
    height: 14rpx;
    margin-right: 26rpx;
    background: #8A8A8A;
    border-radius: 8rpx;
  }

  .progress-inner {
    height: 100%;
    background-image: linear-gradient(-51deg, #0D78F0 0%, #0AB2FF 100%);
    border-radius: 8rpx;
    transition: width 0.2s;
  }

  .progress-count,  .progress-total{
    font-size: 26rpx;
    line-height: 34rpx;
    // color: #FFFFFF;
    color: #333333;
  }

  .progress-total {
    color: #9B9B9B;
  }

  .action-btn {
    @include flexRowCenter;
    width: 160rpx;
    height: 60rpx;
    background-image: linear-gradient(-58deg, #0974ED 0%, #0AB2FF 100%);
    border-radius: 14rpx;
    font-size: 28rpx;
    line-height: 36rpx;
    color: #FFFFFF;

    &.active {
      opacity: 0.8;
    }

    image {
      width: 22rpx;
      height: 20rpx;
      margin-left: 8rpx;
    }
  }

  .img-swiper {
    position: absolute;
    left: 12rpx;
    right: 12rpx;
    bottom: 176rpx;
    height: 200rpx;
  }

  .item-icon {
    position: absolute;
    right: 58rpx;
    top: -10rpx;
    width: 172rpx;
    height: 172rpx;
  }
}

.empty-wrap {
  flex: 1;
  width: 100%;
  @include flexColumnCenter;
  font-size: 28rpx;
  line-height: 36rpx;
  color: #707070;

  image {
    width: 242rpx;
    height: 242rpx;
    margin-bottom: 40rpx;
  }
}

.valid-asset-icon {
  width: 201rpx;
  height: 217rpx;
  background: url('https://img.war6sky.com/2024/09/acbf64a2a61948b982d4518cda9ee36f.png') no-repeat center center;
  background-size: contain;
  position: fixed;
  left: 0;
  top: 50%;
  animation: rotateShake 2s infinite; 
  transform-origin: center bottom;
}

@keyframes rotateShake {  
  0%, 40%, 100% {  
    transform: rotate(0deg);  
  }  
  10% {  
    transform: rotate(-5deg);
  }  
  20% {  
    transform: rotate(5deg);
  }  
  30% {  
    transform: rotate(-5deg);
  }  
}