@import '../../variables.scss';

page {
  width: 100vw;
  height: 100vh;
  position: relative;
  background: #000000;
  @include flexColumn;
}

.navigation-bar {
  position: absolute;
  left: 0;
  top: 0;
}

.blind-box {
  width: 100vw;
  flex: 1;
  background: url('https://img.war6sky.com/2024/09/676fe8205b784517aa066d59746bbec1.jpeg') no-repeat center top;
  background-size: 750rpx 1624rpx;
  padding-top: 160rpx;
  @include flexColumn;

  image {
    width: 100%;
    height: 100%;
  }

  .logo-wrap {
    @include flexColumnCenter;
    width: 200rpx;
    height: 200rpx;
    margin-bottom: 110rpx;
  
    image {
      width: 140rpx;
      height: 140rpx;
    }
  }

  .content-wrap {
    width: 100%;
    height: 800rpx;
    position: relative;
  }

  .light-bg {
    position: absolute;
    left: 50%;
    top: 274rpx;
    width: 517rpx;
    height: 484rpx;
    transform: translateX(-50%);
    background:  url('https://img.war6sky.com/2024/08/b65142177b514a24a40682f4c908cd93.png') no-repeat center center;
    background-size: 100% 100%;
    animation: doubleBlink 4s step-end infinite;
  }

  .swiper-arrow {
    position: absolute;
    left: 72rpx;
    top: 394rpx;
    width: 36rpx;
    height: 67rpx;
    box-sizing: content-box;
    padding: 20rpx;

    &.active {
      opacity: 0.8;
    }

    image {
      width: 100%;
      height: 100%;
    }

    &.arrow-right {
      left: auto;
      right: 72rpx;
      transform: rotate(180deg);
    }
  }

  .dot-left {
    position: absolute;
    left: 100rpx;
    top: 526rpx;
  }

  .dot-right {
    position: absolute;
    right: 120rpx;
    top: 152rpx;
  }

  .blind-box-swiper {
    width: 100%;
    height: 750rpx;

    swiper-item {
      @include flexColumnCenter;
    }
  }

  .blind-box-img-wrap {
    height: 616rpx;
    width: 396rpx;
    background: url('https://img.war6sky.com/2024/08/0780bc644f8c48eb899c7600fff1b70a.png') no-repeat center center;
    background-size: 381rpx 598rpx;
    box-sizing: border-box;
    padding: 100rpx 60rpx;
    gap: 8rpx;
    position: relative;
    transform-style: preserve-3d;
    transform-origin: center center;

    @include flexRowCenter;
    flex-wrap: wrap;
    align-content: flex-start;
    backface-visibility: hidden;

    &.active {
      animation: floatUpDown 4s infinite alternate ease-in-out;
    }

    &::after {
      // content: '';
      height: 616rpx;
      width: 396rpx;
      background: url('https://img.war6sky.com/2024/08/bb29e30e7ff1406cb44c77200b70fd0a.png') no-repeat center center;
      background-size: 100% auto;
      position: absolute;
      left: 0;
      right: 0;
      transform: rotateY(180deg);
      backface-visibility: hidden;
    }
  }

  .blind-box-img {
    width: 130rpx;
    height: 178rpx;
    border-radius: 6rpx;
    box-shadow: 0 2rpx 18rpx -10rpx rgba(0,0,0,0.50);
    transform: translateZ(40rpx);
  }

  .placeholder {
    height: 616rpx;
    width: 396rpx;
    background: rgba($color: #ffffff, $alpha: .3);
    @include flexColumnCenter;
  }

  .blind-box-item {
    height: 750rpx;
    width: 100%;
    @include flexColumn;
    font-size: 70rpx;
    font-weight: bold;
    perspective: 2000rpx;
  }

  .title-wrap {
    @include flexColumn;
    height: 134rpx;
  }

  .title {
    font-size: 50rpx;
    line-height: 70rpx;
    color: #FFFFFF;
  }

  .sub-title {
    font-size: 42rpx;
    line-height: 50rpx;
    color: #27A1F4;
  }

  .bottom-wrap {
    position: absolute;
    width: 100%;
    height: 233rpx;
    left: 0;
    bottom: 0;
    background: url('https://img.war6sky.com/2024/08/6201bcda3dad466ebad5bd402a8c823b.png') no-repeat center center;
    background-size: 750rpx 233rpx;

    .draw-btn {
      @include flexRowCenter;
      transition: all 0.1s;

      image {
        width: 100%;
        height: 40rpx;
        transform: translateY(-18rpx);
      }

      &.active {
        transform: translateY(3%);
      }
    }

    .btn-1 {
      width: 184rpx;
      height: 221rpx;
      background: url('https://img.war6sky.com/2024/08/ff19868ea828428a9cdae65378d38bb6.png') no-repeat center center;
      background-size: 100% 100%;
      position: absolute;
      left: 50%;
      bottom: 60rpx;
      margin-left: -92rpx;
    }

    .btn-3, .btn-5 {
      width: 216rpx;
      height: 151rpx;
      background: url('https://img.war6sky.com/2024/08/90adf6c02cfb4f8d930d63fc1e9035e3.png') no-repeat center center;
      background-size: 100% 100%;
      position: absolute;
      left: 30rpx;
      bottom: 75rpx;
    }

    .btn-5 {
      left: auto;
      right: 30rpx;
    }

    .trial-btn {
      @include flexRowCenter;
      width: 145rpx;
      height: 145rpx;
      position: absolute;
      right: 20rpx;
      bottom: 246rpx;
      transition: all 0.1s;

      &.active {
        transform: scale(0.95);
      }

      image {
        width: 114rpx;
        height: 114rpx;
      }

      &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: url('https://img.war6sky.com/2024/08/e02ff4a4233446a39f407c732f7fe5a2.png') no-repeat center center;
        background-size: 100% 100%;
        animation: spin 6s linear infinite;
      }
    }

    .allin-btn {
      width: 170rpx;
      height: 62rpx;
      position: absolute;
      left: 40rpx;
      bottom: 240rpx;
      transition: all 0.1s;

      image {
        width: 100%;
        height: 100%;
      }

      &.active {
        transform: translateY(3%);
      }
    }
  }

  .locker-btn {
    position: absolute;
    left: 22rpx;
    top: 466rpx;
    width: 106rpx;
    height: 99rpx;
    transition: all 0.1s;

    &.active {
      transform: scale(0.95);
    }
  }

  .extra-btn-wrap {
    position: absolute;
    right: -2rpx;
    top: 462rpx;
    @include flexColumn;

    .extra-btn {
      margin-bottom: 22rpx;
      background: url('https://img.war6sky.com/2024/08/ae41af48f85c4b17b5d6a2451a6cadbf.png') no-repeat center center;
      background-size: 100% 100%;
      box-sizing: border-box;
      width: 81rpx;
      height: 74rpx;
      padding: 0 10rpx;
      @include flexColumnCenter;
      text-align: center;
      font-size: 24rpx;
      line-height: 26rpx;
      color: #FFFFFF;
      transition: all 0.1s;
      transform-origin: right center;

      &.active {
        transform: scale(0.95);
      }
    }
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes doubleBlink {  
  0%, 50%, 55%, 100% {
    opacity: 1;
  }
  48%, 53% {
    opacity: 0;
  }
}

@keyframes floatUpDown {  
  0%, 100% {  
    transform: translateY(0) translateZ(16rpx);
  }  
  50% {  
    transform: translateY(-16rpx) translateZ(0);
  }  
}