
@import '../../variables.scss';
page {
  background: #F1F1F1;
  position: relative;
  min-height: 100vh;
}


.top-bg {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  @include bgImg(729, 550, 'index-bg.png');
}
.banners {
  margin-bottom: 28rpx;
  width: 750rpx;
  height: 484rpx;
  box-sizing: border-box;
  &-swiper {
    width: 100%;
    height: 100%;
    &-item {
      width: 100%;
      height: 100%;
      image {
        width: 750rpx;
      }
    }
  }
}
.category-wrp-content {
  margin-bottom: 8rpx;
  &.fix-tab {
    position: fixed;
    left: 0;
    z-index: 111;
    background-color: #fff;
    width: 100%;
    padding: 20rpx 0;
  }
}
.search-container {
  padding: 0 32rpx 20rpx 32rpx;
  background-color: #FFF;
}
.search {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  width: 100%;
  height: 80rpx;
  border-radius: 40rpx;
  border: 4rpx solid #07c160;
  position: relative;
  align-items: center;
  background-color: #fff;
}

.search-text {
  color: #8f8888;
  font-size: 28rpx;
}

.search-icon-wrp {
  display: flex;
  width: 60rpx;
  height: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.search-icon {
  width: 32rpx;
  height: 32rpx;
}

.search-btn {
  position: absolute;
  right: 0;
  width: 120rpx;
  height: 100%;
  border-radius: 40rpx;
  background-color: #07c160;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFF;
  font-size: 32rpx;
  /* font-weight: bold; */
}

.nav-bar {
  position: absolute;
  z-index: 99;
  top: 0;
  left: 0;
  // background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
  // transition: 0.2s opacity;
}

.logo {
  width: 100rpx;
  height: 80rpx;
  position: absolute;
  top: 95rpx;
  left: 40rpx;
  z-index: 1;
}
.nav-title {
  color: #000;
  text-align: center;
}

.scroll-area {
  // height: 100vh;
  min-height: 100vh;
}

.category-wrp {
  height: 72rpx;
}

.category-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-bottom: 14rpx;
  padding-left: 22rpx;

}

.category-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 28rpx;
  width: 140rpx;
  height: 72rpx;
  margin-right: 15rpx;
  transition: 0.2s all;
  border-radius: 36rpx;

  &.active {
    .category-name {
      background-color: #419CF1;
      transition: 0.2s all;
      color: #fff;
      font-size: 30rpx;
    }
  }
}

.category-name {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 36rpx;
  transition: 0.2s all;
  text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.hot-content {
  margin-bottom: 10rpx;
  &-entry {
    width: 100%;
    @include flexRowCenter;
    image {
      width: 235rpx;
      height: 279rpx;
    }
  }
  &-recommend {
    margin-left: 23rpx;
    width: 704rpx;
    height: 146rpx;
    margin-top: 8rpx;
    @include flexRowStart;
    background: #fff;
    border-radius: 12rpx;
    overflow: hidden;
    .recommend-title {
      margin-right: 25rpx;
      @include bgImg(74,70, 'recom-title.png');
      background-color: #E9F7FE;
      // background: linear-gradient(#E9F7FE, #F4FBFF);
      width: 154rpx;
      height: 100%;
      background-size: 74rpx 70rpx;
    }
    .recommend-items {
      @include flexRowStart;
      image {
        margin-right: 13rpx;
        width: 90rpx;
        max-height: 124rpx;
      }
    }
  }
}

.selected {
  transform: scale(1.2);
  color: #2c2c2c;
  font-weight: bold;
}

.empty-wrap {
  flex: 1;
  width: 100%;
  @include flexColumnCenter;
  font-size: 28rpx;
  line-height: 36rpx;
  color: #707070;

  image {
    width: 242rpx;
    height: 242rpx;
    margin-bottom: 40rpx;
  }
}