@import '../../variables.scss';
page {
  background: #F1F1F1;
}
.scroll-area {
  //height: 100vh;
}
.fake-nav-bar {
  height: 120rpx;
}
.banners {
  margin-left: 23rpx;
  margin-top: 22rpx;
  margin-bottom: 20rpx;
  width: 704rpx;
  height: 192rpx;
  box-sizing: border-box;
  &-swiper {
    width: 100%;
    height: 100%;
    &-item {
      width: 100%;
      height: 100%;
      image {
        width: 704rpx;
      }
    }
  }
}
.category {
  position: sticky;
  top: -1rpx;
  z-index: 1;
}
.tab-list {
  padding: 0 38rpx;
  background-color: #fff;
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
}

.tab-item {
  display: flex;
  flex-shrink: 0;
  height: 100%;
  justify-content: center;
  align-items: center;
  padding-right: 20px;
  // padding-left: 40px;
}
.tab-item:first-child {
  padding-left: 20px;
}

.tab-name {
  color: #989898;
  font-size: 32rpx;
  transition: transform .3s;
  &.selected {
    transform: scale(1.2);
    font-size: 32rpx;
    color: #4C65E3;
    font-weight: bold;
  }
}

.recommend {
  margin-bottom: 23rpx;
  margin-left: 23rpx;
  padding: 27rpx 0 20rpx;
  width: 704rpx;
  border-radius: 8rpx;
  background: linear-gradient(41deg, #FBFBFB 28%, #ECF3FA 70%, #DFECF9 81%, #AACFF6 96%);
  &-title {
    padding-left: 9rpx;
    height: 34rpx;
    font-size: 24rpx;
    color: #171717;
    border-left: 10rpx solid #0399FF;
    @include flexRowStart;
  }
  &-items {
    padding: 0 17rpx;
    margin-top: 25rpx;
    @include flexRowBetween;
    flex-wrap: wrap;
  }
  &-item {
    margin-bottom: 8rpx;
    border-radius: 8rpx;
    width: 330rpx;
    height: 154rpx;
    overflow: hidden;
    image {
      width: 330rpx;
      height: 154rpx;
    }
  }
}