/* pages/blind-box/detail-pop/index.wxss */

@import '../../../variables.scss';

.detail-pop {
  @include flexColumn;
  width: 100%;
  height: 100%;
  background: #34404A;
  border-radius: 20rpx 20rpx 0 0;
  
  .title-wrap {
    @include flexRow;
    box-sizing: border-box;
    padding-left: 40rpx;
    width: 100%;
    height: 104rpx;
    font-size: 34rpx;
    line-height: 48rpx;
    color: #FFFFFF;
    flex: 0 0 auto;
    position: relative;

    .close-btn {
      width: 50rpx;
      height: 50rpx;
      background: url('https://img.war6sky.com/2024/08/1b4dd2d7d4584f9b823eee9ac6828bca.png') no-repeat center center;
      background-size: 25rpx 24rpx;
      position: absolute;
      right: 28rpx;
      top: 28rpx;
    }
  }

  .content-wrap {
    background: #26313A;
    box-shadow: 0 2rpx 18rpx -10rpx rgba(0,0,0,0.50);
    border-radius: 20rpx;
    width: 680rpx;
    height: 85%;
    padding: 20rpx 0;
    box-sizing: border-box;
    font-size: 24rpx;
    line-height: 34rpx;
    color: #B1B1B1;

    .sub-title {
      color: #FFFFFF;
    }

    view {
      padding: 0 28rpx;
      margin-bottom: 34rpx;
    }
  }
}