/* pages/blind-box/confirm-order/index.wxss */
@import '../../../variables.scss';

.confirm-order {
  @include flexColumn;
  width: 100%;
  height: 100%;
  background: #34404A;
  border-radius: 20rpx 20rpx 0 0;

  .title-wrap {
    @include flexRowCenter;
    width: 100%;
    height: 104rpx;
    font-size: 34rpx;
    line-height: 48rpx;
    color: #FFFFFF;
    flex: 0 0 auto;
    position: relative;

    .close-btn {
      width: 50rpx;
      height: 50rpx;
      background: url('https://img.war6sky.com/2024/08/1b4dd2d7d4584f9b823eee9ac6828bca.png') no-repeat center center;
      background-size: 25rpx 24rpx;
      position: absolute;
      right: 28rpx;
      top: 28rpx;
    }
  }

  .btn-wrap {
    margin-top: 10rpx;
    width: calc(100% - 70rpx);
    height: 238rpx;
    border-top: 2rpx solid #545454;
    flex: 0 0 auto;

    text {
      font-size: 28rpx;
      line-height: 82rpx;
      color: #FFFFFF;
    }

    .action-btn {
      width: 680rpx;
      height: 90rpx;
      border-radius: 45px;
      font-size: 34rpx;
      line-height: 36rpx;
      color: #FFFFFF;
      background-image: linear-gradient(-74deg, #0974ED 0%, #0AB2FF 100%);

      @include flexRowCenter;

      &.disable {
        background: #8A8A8A;
      }

      &.active {
        opacity: 0.8;
      }
    }
  }

  .scroll-wrap {
    width: 100%;
    height: 0;
    flex: 1;
  }

  .order-wrap {
    box-sizing: border-box;
    width: 680rpx;
    padding: 30rpx;
    background: #26313A;
    box-shadow: 0 2rpx 18rpx -10rpx rgba(0,0,0,0.50);
    border-radius: 20rpx;
    margin: 0 auto;
  }

  .order-info {
    width: 100%;
    height: 180rpx;
    display: flex;
    flex-direction: row;
    align-items: start;
    padding-bottom: 26rpx;
    border-bottom: 2rpx solid #545454;
    margin-bottom: 12rpx;

    .img-wrap {
      box-sizing: border-box;
      width: 142rpx;
      height: 180rpx;
      padding: 10rpx;
      background: #26313A;
      border: 2rpx solid #5E6D7A;
      border-radius: 10rpx;
      flex: 0 0 auto;
    }

    image {
      width: 100%;
      height: 100%;
    }

    .item-wrap {
      flex: 1;
      margin-left: 22rpx;
      padding-top: 15rpx;
    }

    .item-name {
      font-size: 30rpx;
      line-height: 42rpx;
      color: #FFFFFF;
    }

    .item-price-wrap {
      width: 100%;
      box-sizing: border-box;
      padding-right: 10rpx;
      font-size: 34rpx;
      line-height: 48rpx;
      color: #FFFFFF;
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      margin-top: 4rpx;

      .item-price {
        display: flex;
        align-items: flex-end;
      }
  
      .unit {
        font-size: 40rpx;
      }
  
      .amount {
        font-size: 50rpx;
        line-height: 60rpx;
        font-weight: bold;
      }
    }

    .item-desc {
      font-size: 22rpx;
      color: #6F6F6F;
      line-height: 26rpx;
      margin-top: 12rpx;
    }
  }

  .discount-item {
    width: 100%;
    font-size: 24rpx;
    line-height: 50rpx;
    color: #A4A4A4;
    @include flexRowBetween;
  }

  .amount-wrap {
    width: 100%;
    font-size: 24rpx;
    line-height: 50rpx;
    color: #A4A4A4;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    .value {
      color: #88FF24;
      display: flex;
      align-items: flex-end;
    }

    .unit {
      font-size: 36rpx;
    }

    .amount {
      font-size: 50rpx;
      line-height: 60rpx;
      font-weight: bold;
    }
  }

  .agreement-wrap {
    margin-top: 32rpx;
    padding: 0 40rpx;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    font-size: 28rpx;
    line-height: 32rpx;
    color: #FFFFFF;

    icon {
      margin-right: 15rpx;
    }

    .agreement-btn {
      color: #17B63D;
    }
  }

  .order-desc {
    width: 670rpx;
    margin: 6rpx auto 0;
    font-size: 24rpx;
    line-height: 34rpx;
    color: #8C8C8C;

    .desc-paragraph {
      // margin-bottom: 8rpx;
    }
  }
}