/* pages/storage-locker/index.wxss */
@import '../../variables.scss';

page {
  @include flexColumn;
  width: 100vw;
  height: 100vh;
  color: #333333;
  position: relative;
}

.storage-locker {
  background: #F7F8FA;
  flex: 1;
  width: 100%;
  height: 0;
  @include flexColumn;
  position: relative;

  view {
    box-sizing: border-box;
  }

  .top-wrap {
    width: 680rpx;
    padding: 24rpx 24rpx 24rpx 0;
    margin: 0 auto;
    border-bottom: 2rpx solid #E6E6E6;
    @include flexRow;
    font-size: 22rpx;
    line-height: 36rpx;
    color: #B3B3B3;

    .text {
      color: #707070;
      margin-left: 30rpx;
      flex: 1;
    }

    .arrow-icon {
      width: 10rpx;
      height: 19rpx;
    }
  }

  .sort-wrap {
    padding-top: 24rpx;
    width: 100%;
    height: 118rpx;
  }

  .sort-list {
    height:94rpx;
    @include flexRow;
    flex-wrap: nowrap;
    padding-left: 35rpx;
  }

  .sort-item {
    flex: 0 0 auto;
    // background: #228AFF;
    background: #A5A5A5;
    border-radius: 12rpx;
    font-size: 24rpx;
    line-height: 36rpx;
    color: #FFFFFF;
    width: 168rpx;
    height: 62rpx;
    @include flexRowCenter;
    margin-right: 14rpx;
  }

  .storage-summary {
    @include flexRowBetween;
    padding: 0 35rpx;
    width: 100%;
    font-size: 22rpx;
    line-height: 36rpx;
    color: #707070;
    margin-bottom: 10rpx;
  }

  .select-all {
    @include flexRow;

    .circle {
      width: 28rpx;
      height: 28rpx;
      box-sizing: border-box;
      border: 2rpx solid #999898;
      border-radius: 100%;
      margin-right: 10rpx;

      &.active {
        border: 6rpx solid #228AFF;
        background: #FFFFFF;
      }
    }
  }

  .empty-wrap {
    flex: 1;
    width: 100%;
    @include flexColumnCenter;
    font-size: 28rpx;
    line-height: 36rpx;
    color: #707070;

    image {
      width: 242rpx;
      height: 242rpx;
      margin-bottom: 40rpx;
    }
  }

  .scroll-wrap {
    flex: 1;
    width: 100%;
    height: 0;
  }

  .sroll-end {
    width: 100%;
    font-size: 24rpx;
    line-height: 28rpx;
    color: #848484;
    text-align: center;
    padding-bottom: 20rpx;
  }

  .card-list {
    width: 100%;
    min-height: 100%;
    padding-top: 15rpx;
    padding-bottom: 30rpx;
    padding-left: 35rpx;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .card-item {
      width: 210rpx;
      height: 408rpx;
      margin-right: 25rpx;
      @include flexColumn;
      position: relative;
      transition: all 0.2s;

      &.selected {
        &::after {
          content: '';
          position: absolute;
          left: -9rpx;
          right: -9rpx;
          top: -14rpx;
          bottom: 19rpx;
          box-sizing: border-box;
          border: 3rpx solid #4DAAFF;
          border-radius: 12rpx;
        }

        .selected-circle {
          border: none;
          background: url('https://img.war6sky.com/2024/08/e3492d1f489843cb914a66a412a5d8d8.png') no-repeat center center;
          background-size: 100% 100%;
        }
      }


      &.small {
        width: 116rpx;
        height: 248rpx;
        margin-right: 24rpx;

        &.selected::after {
          left: -8rpx;
          right: -8rpx;
          top: -8rpx;
          bottom: 23rpx;
        }

        .card-img {
          width: 116rpx;
          height: 159rpx;
        }

        .card-code {
          display: none;
        }

        .selected-circle {
          top: 126rpx;
          right: 5rpx;
          width: 28rpx;
          height: 28rpx;
        }
      }
    }

    .selected-circle {
      position: absolute;
      top: 250rpx;
      right: 10rpx;
      width: 34rpx;
      height: 34rpx;
      border: 2rpx solid #999898;
      border-radius: 100%;
    }

    .card-img {
      width: 210rpx;
      height: 290rpx;
      border-radius: 6rpx;
      box-shadow: 0 2rpx 18rpx -10rpx rgba(0, 0, 0, 0.50);
      border-radius: 6rpx;
    }

    .card-name {
      width: 100%;
      text-align: center;
      font-size: 22rpx;
      line-height: 30rpx;
      color: #2B2B2B;
      margin-top: 20rpx;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .card-code {
      width: 100%;
      text-align: center;
      font-size: 20rpx;
      line-height: 28rpx;
      color: #848484;
      margin-top: 9rpx;
    }
  }

  .bottom-wrap {
    width: 100%;
    height: 182rpx;
    background: #FFFFFF;
    position: relative;
    padding: 0 40rpx 32rpx;
    @include flexRow;

    &::before {
      content: '';
      opacity: 0.16;
      background-image: linear-gradient(0deg, #000000 0%, rgba(255, 255, 255, 0.00) 99%);
      width: 750rpx;
      height: 30rpx;
      position: absolute;
      left: 0;
      top: -30rpx;
    }

    .cart-icon {
      width: 68rpx;
      height: 68rpx;
      position: relative;

      image {
        width: 100%;
        height: 100%;
      }

      .selected-count {
        position: absolute;
        left: 41rpx;
        top: -12rpx;
        height: 34rpx;
        min-width: 34rpx;
        box-sizing: border-box;
        padding: 0 9rpx;
        border-radius: 17rpx;
        font-size: 30rpx;
        color: #FFFFFF;
        line-height: 32rpx;
        background: #FF3E39;
      }
    }

    .tip-wrap {
      flex: 1;
      font-size: 24rpx;
      line-height: 32rpx;
      color: #4B4B4B;
      padding-top: 36rpx;
      margin-left: 15rpx;
    }

    .action-btn {
      @include flexRowCenter;
      background-image: linear-gradient(-61deg, #18DEFC 0%, #004FE6 100%);
      border-radius: 45rpx;
      font-size: 34rpx;
      line-height: 36rpx;
      color: #FFFFFF;
      width: 300rpx;
      height: 90rpx;

      &.disabled {
        background: #8A8A8A;
      }
    }
  }

  .switch-mode {
    position: absolute;
    right: 0;
    bottom: 314rpx;
    width: 78rpx;
    height: 89rpx;

    image {
      width: 100%;
      height: 100%;
    }
  }
}

.confirm-order, .rule-page {
  width: 100%;
  height: 100%;
  background: #F1F1F1;
  border-radius: 20rpx 20rpx 0 0;

  &.hide {
    display: none;
  }
}

.rule-page {
  display: flex;
  flex-direction: column;
  align-items: center;

  .title-wrap {
    @include flexRow;
    width: 100%;
    height: 104rpx;
    font-size: 34rpx;
    line-height: 48rpx;
    color: #272727;
    flex: 0 0 auto;
    position: relative;
    padding-left: 40rpx;
    box-sizing: border-box;

    .close-btn {
      width: 50rpx;
      height: 50rpx;
      background: url('https://img.war6sky.com/2024/08/1b4dd2d7d4584f9b823eee9ac6828bca.png') no-repeat center center;
      background-size: 25rpx 24rpx;
      position: absolute;
      right: 28rpx;
      top: 28rpx;
    }
  }

  .content-wrap {
    background: #FFFFFF;
    box-shadow: 0 2rpx 18rpx -10rpx rgba(0,0,0,0.50);
    border-radius: 20rpx;
    width: 680rpx;
    height: 85%;
    padding: 30rpx 0;
    box-sizing: border-box;
    font-size: 24rpx;
    line-height: 34rpx;
    color: #B1B1B1;

    .rich-text-wrap {
      padding: 0 28rpx;
    }
  }
}