.dot-decoration {
  width: 8rpx;
  display: flex;
  flex-direction: column;
  align-items: center;

  .dot {
    width: 8rpx;
    height: 8rpx;
    border-radius: 100%;
    margin-bottom: 8rpx;
    background: #4F7139;
    opacity: 0;
    animation: show-dots 4s linear infinite;
  }

  .dot-1 {
    animation-delay: 3.5s;
  }

  .dot-2 {
    animation-delay: 3s;
    transform: scale(0.95);
  }

  .dot-3 {
    animation-delay: 2.5s;
    transform: scale(0.9);
  }

  .dot-4 {
    animation-delay: 2s;
    transform: scale(0.85);
  }

  .dot-5 {
    animation-delay: 1.5s;
    transform: scale(0.8);
    background: #3d6872;
  }

  .dot-6 {
    animation-delay: 1s;
    transform: scale(0.75);
    background: #3d6872;
  }

  .dot-7 {
    animation-delay: 0.5s;
    transform: scale(0.7);
    background: #3d6872;
  }

  .dot-8 {
    animation-delay: 0s;
    transform: scale(0.65);
    background: #3d6872;
  }
}

@keyframes show-dots {

  0%,
  50%,
  100% {
    opacity: 0;
  }

  25% {
    opacity: 1;
  }
}